/* css for index.html */

* {
    padding: 0;
    margin: 0;
}
html {
    font-family: Verdana, sans-serif;
    background-color: black;
    color: white;
}
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: maroon;
    padding: 25px;
}
#nav a {
    color: white;
    text-decoration: none;
}
#title {
    text-align: center;
    padding-top: 45px;
}
#img {
    display: block;
    margin: 0 auto;
    width: 40%;
    max-width: 650px;
    min-width: 375px;
    height: 500px;
    margin: 0 auto 45px;
    object-fit: cover;
}
#character-img {
    padding: 25px 0px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
#description {
    text-align: center;
    font-size: 24px;
}
#answers {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 750px;
    margin: 0 auto;
    padding-top: 15px;
    border-radius: 3px;
}
button:not(:last-child) {
    padding: 15px;
    margin: 5px 0;
    color: white;
    background-color: slategray;
    font-size: 18px;
    border: none;
}
button:hover {
    background-color: orange;
    cursor: pointer;
}
button:not(:last-child):focus {
    background-color: white;
    color: black;
}
#submit {
    background-color: skyblue;
    width: 150px;
    height: 40px;
    margin: 15px auto 15px;
    color: black;
    text-align: center;
    font-size: 18px;
    border: none;
    border-radius: 3px;
}
#submit:hover {
    background-color: orange;
    cursor: pointer;
}
#submit:focus {
    background-color: darkgray;
    cursor: default;
}
#submit.disabled {
    background-color: darkgray;
    cursor: default;
}
#submit.clicked {
    background-color: darkgray;
    cursor: default;
}
.unclickable {
    pointer-events: none;
    background-color: darkgray;
    cursor: default;
}
#next-page {
    background-color: lightyellow;
    display: flex;
    width: 250px;
    height: 60px;
    margin: 10px auto;
    color: black;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 18px;
    border: none;
    padding-top: 20px;
    border-radius: 3px;
}
#next-page:hover {
    background-color: orange;
}
#quit {
    background-color: lightyellow;
    display: flex;
    width: 250px;
    height: 40px;
    margin: 15px auto;
    color: black;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    border: none;
    text-decoration: none;
    border-radius: 3px;
}
#quit:hover {
    background-color: maroon;
    color: white;
}
#line {
    border: 2px solid maroon;
    width: 60%;
    margin: 0 auto 25px;
    opacity: 50%;
}
#feedback-message {
    display: flex;
    margin: 5px auto;
    color: red;
    width: 50%;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
}
#feedback-message.green {
    color: green;
}
#feedback-message.red {
    color: red;
}

/* css for results.html */

#score {
    display: flex;
    flex-direction: column;
    margin: 45px auto;
    text-align: center;
    width: 30%;
}
#percent {
    color: white;
    font-size: 78px;
    padding-top: 20px;
}
#percent.green {
    color: green;
}
#percent.red {
    color: red;
}
#percent-message {
    color: white;
    font-size: 26px;
    padding-top: 20px;
}
#percent-message.green {
    color: green;
}
#percent-message.red {
    color: red;
}
#reset {
    display: flex;
    margin: 0 auto;
    width: 30%;
    text-align: center;
    justify-content: center;
    background-color: white;
}
#reset-quiz {
    border: 0;
    font-size: 18px;
    padding: 15px;
    width: 100%;
}
#reset-quiz:hover {
    color: black;
    background-color: orange;
}
#reset a {
    text-decoration: none;
    color: black;
}
