html {
  background-color: black;
  text-align: center;
  color: white;
}
.download-link {
  color: aquamarine;
  font-size: 16px;
}
.info {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}
.banner {
  font-family: 'Helvetica';
  font-weight: normal;
  font-size: 50px;
  color: white;
}
.banner2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
}
.copyright {
  color: gray;
  text-align: right;
}
.camp {
  display: block;
  margin: auto;
}
.phone {
  display: block;
  margin: auto;
  padding-top: 30px;
}
